{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Headlines
    </h1>
</div>
<div class="panel panel-default">
    {% for headline in headlines if headline.read_status == False %}
    <!--<div class="panel panel-default" href="{{ headline.link }}" role="button">-->
        <!--<a href="{{ headline.link }}" target="_blank">-->
            <a class="panel panel-default" href="{{ headline.link }}" role="button" target="_blank">{{ headline.name }}</a>
            <a class="btn btn-default" href="{{ url_for('headlines.deactivate_headline', headline_id=headline._id) }}" role="button">deactivate</a>
            <div></div>
            <!--<h4 class="list-group-item-title">{{ headline.read_status }}</h4>-->
        <!--</a>-->
    <!--</div>-->

    {% endfor %}
</div>

{% endblock %}

