{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Headlines
    </h1>
</div>



{% for headline in headlines if headline.read_status == False %}

<div class="table table-striped">

    <a class="btn btn-danger btn-sm" href="{{ url_for('headlines.deactivate_headline', headline_id=headline._id) }}"
       role="button">remove</a>


    <a class="col-md-4" href="{{ headline.link }}" role="button" target="_blank">{{ headline.name }}</a>

</div>

{% endfor %}


{% endblock %}
<div class="page-header"></div>

